h5 {
    margin-top: 5px;
    padding: 0;
    color: white;
}

p { 
    margin-left: 5px; 
    font-weight: bold;
    color: white;
}

.smallWord { 
    font-size: smaller;
    color: lightblue;
}

.smallGrey {
    color: #ccc;
}

.card { background-color: #2d3e50 ;}