h3,
.card-header {
	margin-top: 5px;
	padding: 0;
	color: lightblue;
}

p {
	margin-left: 5px;
	font-weight: bold;
	color: white;
}

.smallGrey {
	color: #ccc;
}

.smallWord { 
    font-size: smaller;
    color: lightblue;
}

.list-group-item { background-color: #2d3e50; }

.card { width: 100%;}
