.bigWord {
    color: slategray;
    font-size: 95px;
    line-height: 65px;
    letter-spacing: -7px;
    text-transform: lowercase;
}

.bigWordName {
    color: whitesmoke;
    font-size: 95px;
    line-height: 65px;
    letter-spacing: -8px;
    text-transform: lowercase;
}

h4 { 
    letter-spacing: -1px;
    color: slategray;
}



/* @media screen and (max-width: 767px) {
    #name {
        min-width: 20rem;
    }
}

@media screen and (max-width: 320px) {
    #name {
        min-width: 15rem;
    }
} */