.bigWord {
    color: slategray;
    font-size: 90px;
    line-height: 70px;
    letter-spacing: -7px;
    text-transform: lowercase;
}

.bigWordName {
    color: whitesmoke;
    font-size: 90px;
    line-height: 70px;
    letter-spacing: -8px;
    text-transform: lowercase;
}

h4 { 
    letter-spacing: -1px;
    color: lightblue;
}

h2 { 
    letter-spacing: -1px;
}